.button { //removes the styles of the button
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    display: inline;
    font-size: 20px;
    height: 45px;
    border-radius: 22.5px;
    transition: transform 1s; //so the transform is smoother
    &:hover {
        color: $footer-background-blue;
        transform: scale(1.25);
    }
}
 .scroll {
    background-color: $header-footer-font-white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
}

.a {
    text-decoration: none;
    color: inherit;
}