<footer>
    <div class="footer-scroll scroll">
        <a href="#page-top"><img class="scroll-img" src="./assets/images/ico-arrow.svg" alt="Arrow up"
                title="Link to header"></a>
    </div>
    <div class="footer">
        <nav class="footer-our-page">
            <ul class="footer-nav">
                <li class=li><a class="a" href="https://adalab.es/" target=”_blank”
                        title="Link to adalab.es">articles</a></li>
                <li class=li><a class="a" href="https://adalab.es/" target=”_blank” title="Link to adalab.es">books</a>
                </li>
                <li class=li><a class="a" href="https://adalab.es/" target=”_blank” title="Link to adalab.es">events</a>
                </li>
                <li class=li><a class="a" href="https://adalab.es/" target=”_blank”
                        title="Link to adalab.es">reasons</a></li>
                <li class=li><a class="a" href="https://adalab.es/" target=”_blank” title="Link to adalab.es">tips</a>
                </li>
            </ul>
        </nav>
        <nav class="footer-social-media">
            <ul class="footer-nav">
                <li class=li><a class="a" href="https://adalab.es/" target=”_blank”
                        title="Link to adalab.es">twitter</a></li>
                <li class=li><a class="a" href="https://adalab.es/" target=”_blank”
                        title="Link to adalab.es">instagram</a></li>
                <li class=li><a class="a" href="https://adalab.es/" target=”_blank”
                        title="Link to adalab.es">mastodon.social</a></li>
            </ul>
        </nav>
        <div class="footer-copy">
            <p>&copy 2022</p>
            <p>we <span class="heart">❤︎</span> components</p>
        </div>
    </div>
</footer>