<hero class="hero">
    <a class="hero-menu" href="https://adalab.es/"><img class="hero-menu-img" src="./assets/images/ico-menu.svg"
            alt="Menu" title="Link to adalab.es"></a>
    <h1 class="hero-title">Anonymous proxy</h1>
    <p class="hero-p">In hac habitasse platea dictumst</p>
    <div class="hero-scroll">
        <a href="../index.html#sect2"><img class="scroll" src="./assets/images/ico-scroll-down.svg" alt="Arrow down"
                title="Link to section 3 Reasons"></a>
    </div>
</hero>