<section class="sect2" id="3-reasons">
    <section class="sect2-h2">
        <h2 class="h2">3 reasons to purchase</h2>
    </section>
    <!--includes the articles-->
    <include src="./article.html" title="Ud set metus" text="Lore ipsum dolor si amet, consecteur.">
        <!--the route has change because we are now into partials, so we don't need to be calling partials folder again-->
    </include>
    <include src="./article.html" title="Carabitur ac erat" text="Lore ipsum dolor si amet, consecteur.">
    </include>
    <include src="./article.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt.">
    </include>
    <section class="sect2-button-box">
        <input type="button" value="More reasons" class="sect2-button button">
    </section>
</section>