<section class="sect2" id="3-reasons">
    <section class="sect2-h2">
        <h2 class="h2">3 reasons to purchase</h2>
    </section>
    <article class="sect2-art art1">
        <h3 class="sect2-art-h3">Ud set metus</h3>
        <p class="sect2-art-p">Lore ipsum dolor si amet, consecteur.</p>
    </article>
    <article class="sect2-art art2">
        <h3 class="sect2-art-h3">Carabitur ac erat</h3>
        <p class="sect2-art-p">Mauris mattis urna quis lorem molestiae.</p>
    </article>
    <article class="sect2-art art3">
        <h3 class="sect2-art-h3">Morbi dictum</h3>
        <p class="sect2-art-p">Aliquam in dolor et dolor tincidunt.</p>
    </article>
    <section class="sect2-button-box">
        <input type="button" value="More reasons" class="sect2-button button">
    </section>
</section>