
$menu-icon-blue: #0271bc;
$title-font: 'Roboto Slab', serif;
$header-footer-font-white: white;
//pasar por dfault
$general-font: 'Roboto', sans-serif;
$sect1-title-blue: #8ccbea;
$main-black: #000;
$main-grey: #4a4a4a;
$main-button-orange: #f26002;
$sect2-background-white: #eff9ff;
$footer-background-blue: #304268;