//review naming
$icon-background: #0271bc;
$title-font: 'Roboto Slab', serif;
$header-font-color: #fff;
$p-font: 'Roboto', sans-serif;
$main-blue-color: #8ccbea;
$main-text-color: #000;
$grey-text-color: #4a4a4a;
$main-button-color: #f26002;
$blue-color-background: #eff9ff;