:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
//fonts
$general-font: 'Roboto', sans-serif;
$title-font: 'Roboto Slab', serif;

//colors
$menu-icon-blue: #0271bc;
$header-footer-font-white: white;
$sect1-title-blue: #8ccbea;
$main-black: #000;
$main-grey: #4a4a4a;
$main-button-orange: #f26002;
$sect2-background-white: #eff9ff;
$footer-background-blue: #304268;