  .hero {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    &-menu {
        position: fixed;
        top: 0px;
        left: 0;
        background-color: $menu-icon-blue;
        height: 22px;
        width: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 768px) {
            width: 42px;
            height: 44px;
        }
        @media (min-width: 1200px) {
            width: 44px;
        }
        &-img {
            width: 14px;
            height: 10px;
            @media (min-width: 768px) {
                width: 15px;
                height: 14px;
            }
            @media (min-width: 1200px) {
                width: 16px;
            }
        }
    }
    &-title {
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        font-family: $title-font;
        text-transform: uppercase;
        font-size: 42px;
        color: $header-footer-font-white;
        word-spacing: 100vw; //vw not % | better than ch (ch=0, id ch n*2)
        margin-bottom: 15px;
        text-align: center;
        line-height: 1.3;
        @media (min-width: 768px) {
            font-size: 80px;
            line-height: 1.3;
        }
        @media (min-width: 1200px) {
            font-size: 100px;
        }
    }
    &-p {
        color: $header-footer-font-white;
        margin-bottom: 100px;
        @media (min-width: 768px) {
            font-size: 24px;
            margin-bottom: 140px;
            text-align: center;
        }
        @media (min-width: 1200px) {
            margin-bottom: 100px;
        }
    }
    &-scroll {
        padding: 11px;
        left: 50%;
        bottom: 35px;
        @media (min-width: 768px) {
            padding: 13px;
            bottom: 50px;
        }
        @media (min-width: 1200px) {
            padding: 14px;
            bottom: 20px;
        }
        &-img {
            width: 17px;
            height: 10px;
            @media (min-width: 768px) {
                width: 19px;
                height: 11px;
            }
            @media (min-width: 1200px) {
                width: 20px;
                height: 12px;
            }
        }
    }
}