.sect2 {
    width: 100%;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    background-color: $sect2-background-white;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    gap: 40px;
    font-family: $title-font;
    font-size: 18px;
    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 50px 20px;
    }
    @media (min-width: 1200px) {
        padding-top: 50px;
        padding-left: 80px;
        padding-right: 80px;
        gap: 50px 40px;
    }
    &-h2 {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 768px) {
            grid-column: 1/4;
            grid-row: 1/2;
        }
    }
    &-art {
        display: block;
        text-align: center;
        &-h3 {
            font-size: 18px;
            line-height: 1.7;
            @media (min-width: 768px) {
            font-size: 24px;
            }
        }
        &-p {
            line-height: 1.7;
            font-family: $general-font;
            @media (min-width: 768px) {
            font-size: 20px;
            }
        }
    }
    &-art1 {
        grid-column: 1/2;
        grid-row: 2/3;
        @media (min-width: 768px) {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }
    &-art2 {
        grid-column: 1/2;
        grid-row: 3/4;
        @media (min-width: 768px) {
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
    &-art3 {
        grid-column: 1/2;
        grid-row: 4/5;
        @media (min-width: 768px) {
            grid-column: 3/4;
            grid-row: 2/3;
        }
    }
    &-button-box {
        grid-column: 1/2;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
        @media (min-width: 768px) {
            grid-column: 1/4;
            grid-row: 3/4;
        }
    }
    &-button {
        width: 185px;
        font-size: 20px;
        color: $header-footer-font-white;
        background-color: $main-button-orange;
        margin-bottom: 60px;
    }
}