@import 'core/reset';
@import 'core/variables-root';
@import 'components/links-buttons';
@import 'components/decorations';
@import 'components/generic-classes.scss';
@import 'layout/hero';
@import 'layout/sect1';
@import 'layout/sect2';
@import 'layout/footer';

/*@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/hero';
@import 'layout/footer';
@import 'pages/index';
*/

//hero
//sect1
//sect2
//footer